/* Navbar==================== */
.customNav {
    position: sticky;
    width: 100%;
    background-color: transparent !important;
    background-size: cover;
    z-index: 10;
}
.navbar-brand {
    padding-left: 15px !important;
}
.navbar-nav {
    margin-left: auto;
    margin-right: 0 !important;
  }
.nav-item {
    margin: 0px 10px;
  }
.customNav a {
    color: white !important;
  }

  /* Jumbotron================= */
.jumbotron {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.5)), url(../images/Mary\ Thomas3.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    min-height: 90vh;
}  
.heroTitle {
    min-height: 250px;
}
.heroCopy {
    min-height: 100px;
}
.navbar-dark .navbar-toggler .navbar-toggler-icon .navbar-brand {
    color: rgba(255,255,255,1) !important;
}

/* Steps ====================== */
.step1 {
    padding: 100px;
}
.step2 {
    padding: 100px;
    background-color: rgb(45, 72, 83);
    color: white;
}
.step3 {
    padding: 100px;
}
.step4 {
    padding: 100px;
    background-color: rgb(168, 145, 102);
    color: white;
}
.gettingStarted img {
    border-radius: 10px;
}

/* Cards ====================== */
.sources {
    min-height: 50vh;
}
.sourcesBox {
    padding: 100px;
}

/* Newsletter ==================== */
.news {
    padding: 50px;
    background-color: rgb(35, 41, 53);
}
.newsContainer {
    padding: 30px;
    background-color: lightskyblue;
    border-radius: 10px;
    margin: 100px 0px 100px 0px
}

/* Footer ==================== */
.footer {
    background-color: steelblue !important;
}